<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Notes</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer mode="over">
    <div class="heading-container">
      <h1>Filter</h1>
    </div>
    <mat-list role="list">
      <mat-list-item (click)="filterCard('all')" role="listitem" class=""
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Show All</h1>
        </div></mat-list-item
      >
      <mat-list-item (click)="filterCard('blue')" role="listitem" class="blue-color"
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Select</h1>
        </div></mat-list-item
      >
      <mat-list-item
        (click)="filterCard('purple')"
        role="listitem"
        class="purple-color"
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Select</h1>
        </div></mat-list-item
      >
      <mat-list-item (click)="filterCard('red')" role="listitem" class="red-color"
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Select</h1>
        </div></mat-list-item
      >
      <mat-list-item (click)="filterCard('green')" role="listitem" class="green-color"
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Select</h1>
        </div></mat-list-item
      >
      <mat-list-item
        (click)="filterCard('yellow')"
        role="listitem"
        class="yellow-color"
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Select</h1>
        </div></mat-list-item
      >
      <mat-list-item (click)="filterCard('sky')" role="listitem" class="sky-color"
        ><div class="nav-button">
          <mat-icon>done</mat-icon>
          <h1>Select</h1>
        </div></mat-list-item
      >
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-card class="input-card">
      <div class="note-input">
        <mat-form-field class="text-area" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea
            matInput
            #text
            placeholder="Text"
            (focus)="showColorBUttons = true"
            (blur)="showColorBUttons = false"
          ></textarea>
        </mat-form-field>
        <div class="btn-container">
          <div
            class="animate-color-strips"
            [ngClass]="{
              'show-strips': showColorBUttons
            }"
          >
            <button
              (click)="getvalue(text.value, '#6666d3', 'blue'); text.value = ''"
              class="color-button blue-color"
            ></button>
            <button
              (click)="
                getvalue(text.value, '#6d4196', 'purple'); text.value = ''
              "
              class="color-button purple-color"
            ></button>
            <button
              (click)="getvalue(text.value, '#ce5757', 'red'); text.value = ''"
              class="color-button red-color"
            ></button>
            <button
              (click)="
                getvalue(text.value, '#43af43', 'green'); text.value = ''
              "
              class="color-button green-color"
            ></button>
            <button
              (click)="
                getvalue(text.value, '#a8c24d', 'yellow'); text.value = ''
              "
              class="color-button yellow-color"
            ></button>
            <button
              (click)="getvalue(text.value, '#76e7c2', 'sky'); text.value = ''"
              class="color-button sky-color"
            ></button>
          </div>
        </div>
      </div>
    </mat-card>
    <br />

    <div class="card-container">
      <div #cardWrapper class="card-wrapper" [ngClass]="className">
        <app-card
          
          class="card"
          *ngFor="let card of filteredCards; let i = index"
          [cardData]="card"
          (click)="openDialog(i)"
        ></app-card>
      </div>
    </div>
  </div>
</mat-drawer-container>
