button{
    width: 35px;
    height: 20px;
    outline: none;
    border: none;
    padding-top: 5px;
    cursor: pointer;
  }

  .blue{
    background-color: #6666d3;
  }
  .purple{
    background-color: #6d4196;
  }
  .red{
    background-color: #ce5757;
  }
  .green{
    background-color: #43af43;
  }
  .yellow{
    background-color: #a8c24d;
  }
  .sky{
    background-color: #76e7c2;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .delete {
    margin-left: auto;
  }